<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <table class="table">
    <tbody>
    <tr>
        <th>place</th>
        <td>{{ place}}</td>
    </tr>
    <tr>
        <th>condition</th>
        <td>{{ meteo.weather.0.main }}</td>
    </tr>
    <tr>
        <th>description</th>
        <td>{{ meteo.weather.0.description }}</td>
    </tr>
    </tbody>
    </table>{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
